root = true

[*.cs]
resharper_keep_existing_attribute_arrangement = false
resharper_place_type_attribute_on_same_line = never
resharper_place_method_attribute_on_same_line = never
resharper_place_accessorholder_attribute_on_same_line = never
resharper_place_accessor_attribute_on_same_line = never
resharper_place_field_attribute_on_same_line = never
